.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
.item:hover {
  color: #008f8f;
  font-size: 23px;
  transition: 0.5s;
}

.navLink {
  text-decoration: none;
  color: white;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  font-style: normal;
  margin-right: 80px;
  font-size: 23px;
  font-weight: 600;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100%;
  }

  .title {
    font-size: 25px;
    margin-left: 0;
    margin-top: 50px;
  }

  .item {
    font-size: 18px;
    margin: 0;
  }

  .menu {
    width: 100%;
  }
}
