body {
  color: white;
}

.name {
  text-align: center;
  font-weight: 800;
  font-size: 55px;
  padding-top: 70px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.caracs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.items {
  font-weight: 600;
  font-size: 23px;
}

.caracte {
  font-size: 40px;
  text-align: center;
}

.button {
  color: black;
  width: 250px;
  height: 30px;
}

.add {
  margin-top: 0;
}

.head {
  display: flex;
  justify-content: center;
}

.head img {
  padding-top: 70px;
  margin-left: 20px;
  margin-top: 20px;
}
