.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  margin: 80px 0 50px 0;
  font-weight: 800;
  font-size: 55px;
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 100px;
}

input,
select,
option,
button,
textarea {
  background-color: white;
}

button {
  width: 100px;
  height: 30px;
  margin: 20px 0;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #008f8f;
  color: white;
}

input {
  border-radius: 10px;
  height: 30px;
  width: 170px;
}

select {
  border-radius: 10px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  width: 140px;
}

textarea {
  margin: 10px 0;
  border-radius: 10px;
  height: 50px;
}

.base {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.select {
  margin: 10px auto 50px auto;
  width: 150px;
  height: 45px;
  text-align: center;
  font-size: 23px;
  border-radius: 15px;
}
